.input{
    border-spacing: 40px 40px;
    position: absolute;
    top: 0;
    left: 30%;
    background: darkblue;
}
.types{
    width: 100px;
    height: 40px;
    color: lightskyblue;
    background: darkblue;
    border: 2px solid white;
    font-weight: 600;
}
.type{
    width: 150px;
    height: 40px;
    color: lightskyblue;
    background: darkblue;
    font-weight: 600;
}
.row, .column{
    width: 100px;
    height: 38px;
    font-size: 20px;
    color: lightskyblue;
    background: darkblue;
    font-weight: 600;
    border: 2px solid white;
    text-align: center;
}
.ok{
    width: 50px;
    height: 40px;
    font-size: 25px;
    color: lightskyblue;
    background: darkblue;
    font-weight: 600;
    border: 2px solid white;
}
.table{
    border-collapse: collapse;
    position: absolute;
    left: 30%;
    top: 27%;
}
.num{
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: lightskyblue;
    background: none;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
}
tr, td{
    margin: 0;
    padding: 0;
}